<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
 <ion-row>
   @for(item of listacategorias; track $index){
 
   <ion-col size="12" size-lg="3" size-md="4" size-sm="4" size-xs="6">
     <ion-card (click)="abrirModalDetalle(item)">
       <img src="Silhouette of montains" [src]="item.image"/>
   <ion-card-header>
     <ion-card-subtitle>
     <ion-badge color="success">ID:{{item.i}}</ion-badge>
    </ion-card-subtitle>

    <ion-button (click)="compartirCategoria(item)">compartir</ion-button>
    
   </ion-card-header>
 </ion-card>
 </ion-col>
 }
 </ion-row>
 </ion-grid> 
 </ion-content>
